<% for post in @shark.posts.reverse_each  %>
    <ul>

        <% if post.body.blank? %>
            <div></div>
            <% else %>
                <li class="post">
                    <%= post.body %>
                </li>
                <% end %>
    </ul>

<% end %>
